src/main/webapp/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.enterprise" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.enterprise" xmlns:intf="http://webservice.enterprise" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.enterprise" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listAllPlants">
    <complexType/>
   </element>
   <element name="listAllPlantsResponse">
    <complexType>
     <sequence>
      <element name="listAllPlantsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listAllPlantsResponse">

      <wsdl:part element="impl:listAllPlantsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllPlantsRequest">

      <wsdl:part element="impl:listAllPlants" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="listAllPlants">

         <wsdl:input message="impl:listAllPlantsRequest" name="listAllPlantsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllPlantsResponse" name="listAllPlantsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listAllPlants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllPlantsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllPlantsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/RentIT3/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
